@import 'tailwindcss/base';
/*@import './fonts.css';*/
@import './docsearch.css';
@import './prism.css';
/* this should match the WordPress version you're supporting
 take this from wp-includes/css/dist/block-library/style.css */
@import './wp-block-library.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#__next {
  min-height: 100%;
}

.react-rotating-text-cursor {
  color: black;
  font-weight: 100;
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

::-webkit-scrollbar {
  display: none;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}